{% extends 'base.html' %}

{% block title %}<title>Kitoblar sayti | Bosh sahifa</title>{% endblock title %}

{% block content %}
<div class = 'container'>
  <div class = 'row text-center'>
    <h4>Tavsiya etilgan kitoblar</h4>
  </div>
  <div class = 'row'>
    {% for book in recommended_books %}
    <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
      <a href = "{% url 'book_detail' book.slug %}">
          <div>
             <div class="uk-card uk-card-default uk-card-body">
                 <img src = "{{ book.cover_image.url }}">
             </div>
          </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


<div class = 'container'>
  <div class = 'row'><h4>Eng yaxshi badiiy kitoblar</h4></div>
  <div class = 'row'>
    {% for book in fiction_books %}
    <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
      <a href = "">
        <div>
          <div class="uk-card uk-card-default uk-card-body"> 
             <img src = "{{book.cover_image.url}}">
          </div>
        </div>
    </a>
    </div>
    {% endfor %}
  </div>
</div>


<div class = 'container'>
    <div class = 'row'><h4>Eng yaxshi biznes kitoblari</h4></div>
    <div class = 'row'>
        {% for book in business_books %}
       <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
           <a href = "">
              <div>
                  <div class="uk-card uk-card-default uk-card-body">
                      <img src = "{{book.cover_image.url}}">
                  </div>
              </div>
           </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
